# .github/workflows/deploy.yml
name: Secure Deploy to GitHub Pages

on:
  push:
    branches: [ main ]

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11

      - name: Setup Node
        uses: actions/setup-node@60edb5dd545a775178f52524745d2bb17e1e4a69
        with:
          node-version: 20
          cache: 'npm'

      - name: Install Dependencies
        # 如果 npm ci 報錯，可暫時改為 npm install
        run: npm install

      - name: Build
        run: npm run build
        env:
          VITE_FIREBASE_API_KEY: ${{ secrets.VITE_FIREBASE_API_KEY }}
          VITE_GOOGLE_MAPS_API_KEY: ${{ secrets.VITE_GOOGLE_MAPS_API_KEY }}

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@65b5dfc6ca6440e216892305dae08f51a700857b
        with:
          folder: dist
          branch: gh-pages
          # 增加此項可確保部署時不會因為權限問題卡住
          clean: true