# .github/workflows/deploy.yml
name: Secure Deploy to GitHub Pages

on:
  push:
    branches: [ main ]

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        # v4.2.2
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Setup Node
        # v4.2.0
        uses: actions/setup-node@392255995c2433d1ad07a6f0348247f95e6b4d4c
        with:
          node-version: 20
          cache: 'npm'

      - name: Install Dependencies
        run: npm install

      - name: Build
        run: npm run build
        env:
          VITE_FIREBASE_API_KEY: ${{ secrets.VITE_FIREBASE_API_KEY }}
          VITE_GOOGLE_MAPS_API_KEY: ${{ secrets.VITE_GOOGLE_MAPS_API_KEY }}

      - name: Deploy
        # v4.7.3
        uses: JamesIves/github-pages-deploy-action@6d460e4236a2a095697693d22393086937510d93
        with:
          folder: dist
          branch: gh-pages
          clean: true